h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;   
}

h2{
    text-align: center;
  
}


div{
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;

}

p{
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
    column-fill: balance;  
} 

div.p{
    text-align: center;
}
.menu li{
     display:inline-block;
}

.header{
    background-color: rgb(255, 255, 255);
    color: rgb(170, 0, 0);
    font-size: 20px;
    display: inline-block;
    padding: 0px;
    box-sizing: border-box;

      
}
#money-container{
    background-image: url("header.png");
   background-size: cover;
   background-position: center;
   color:white;
   padding-top: 100px;
   padding-bottom: 100px;

}

.borderr {
    padding:1px;
    border: 6px solid #ec2222;
 }

ul {
    list-style-type: none;
    margin: 10px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
  
li a {
    display: block;
    color: #F05F40;
    padding: 12px 10px;
    padding-top: 10px;
    padding-bottom: 0;
    text-decoration: none;
    text-align: center;   
}

#hrcolor1{
    border: 2px solid #F05F40;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
      
}

#hrcolor2{
    border: 2px solid #ffffff;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

li a:hover {
    background-color: rgba(226, 19, 19, 0.342);
    text-decoration: none;
}

.container1{
    text-align: center;
  
    
}

#money-container {
      text-align: center;

  }

.spacing{
    margin-top: 30px;
}


.centered {
    text-align: center;
}

.redsquare{
      background-color: #F05F40;
      padding-bottom: 60px;
      padding-top: 50px;
      
}

#rcorners {
    border-radius: 50%;
    padding: 20px; 
    width: 200px;
    height: 150px;
} 
  
button:hover{
    background-color: rgba(211, 176, 176, 0.342);
}

button{
    background-color: rgb(255, 255, 255);

    
}

.borderr{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.btn-monkey {
    border-radius: 30px !important;
    margin-left: 715px;
    
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 360px; 
    height: 215px;
}

.newcont{
    box-sizing: border-box;
    padding-top: 40px;
}

.fontin{
    text-align: center;
}

