
h2.txtheader{
    text-align: center;
}
.background{
    background: linear-gradient(to right, rgba(94, 34, 34, 0.808), rgba(241, 215, 215, 0.993));
}

.square {
    background-color: #ffff;
   
    /* position: absolute;
    top: 8%;
    left: 12%; */
    -moz-box-shadow: 0 0 30px #4a021a;
    -webkit-box-shadow: 0 0 30px #4a021a;
    box-shadow: 0 0 30px #4a021a;
    }
#corner {
    border-radius: 25px;
    background: #ffff;
    padding: 30px;
        
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.flex-container {
    display: grid;
    flex-direction: column;
    position: initial;
    top: 100px;
    right: 200px;
    font-size: 100%;

    margin-top: 20px;
  }

  