
p, .form-check{
    padding-top: 20px;
    padding-right: 200px;
    font-family: 'Poppins', sans-serif;

}
h2.txtheader{
    text-align: center;
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
}
.background{
    background: linear-gradient(to right, rgba(94, 34, 34, 0.808), rgba(241, 215, 215, 0.993));
}

.square {
    background-color: #ffff;
   margin-top: 30px;
    /* position: absolute;
    top: 8%;
    left: 12%; */
    -moz-box-shadow: 0 0 30px #4a021a;
    -webkit-box-shadow: 0 0 30px #4a021a;
    box-shadow: 0 0 30px #4a021a;
    }
#corner {
    border-radius: 25px;
    background: #ffff;
    padding: 50px;
        
}
.center{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.flex-container {
    display: flex;
    flex-direction: column;
    position: unset;
    top: 100px;
    right: 200px;
    font-size: 100%;

    margin-top: 20px;
  }

 .btn-rounded{
     border-radius: 20px;
 }

button:hover{
    background-color: rgba(85, 2, 2, 0.87);
}
button{
    background-color: rgba(105, 1, 1, 0.281);
    border-radius: 20px;
 
}
.spacing{
    padding-top: 10px;
}
.last{

    padding-top: 40px;
}

a:link {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}
.btn-monkey {
    border-radius: 30px !important;
    
}
